<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About</h2>
                    <h3 class="section-subheading text-center">Guiding Philosophy</h3>
            
                    <p class="section-text">For every participant who makes it out to Black Rock City there are many who do not.  Participants who don’t make it Home can listen to BMIR, watch Ustream, and send postcards to their friends, but don’t have any way to express themselves with any sort of immediacy.  The goal of the Temple of the Unticketed is to connect participants on and off playa in a way that is immediate, playful, and respectful of the Ten Principles.</p>

                    <p class="section-text">The Temple of the Unticketed encourages participants to record four frame vignettes through a virtual photo booth app.  The app can be accessed off playa via the web, and on playa via a kiosk or a WLAN network near the piece.  Playful filters and theme suggestions are included to encourage participant creativity.</p>

                    <p class="section-text">Vignettes will be displayed on the physical piece as well as a virtual one.  The two pieces will stay in sync so participants feel a connection to each other.  The physical piece will have several modes of low bandwidth access to download submitted vignettes.</p>   

                    <p class="section-text">The Temple of the Unticketed features a couple of other subtle aspects.  As new submissions are added, old ones are deleted permanently, a digital equivalent of leave no trace and a reminder of the importance of immediacy.  Vignette images are tinted and started in patterns such that from a distance the temple displays themes of time, space and connectivity.</p>

                    <p class="section-text">Interacting with the Temple of the Unticketed should leave participants feeling connected to a larger community and a sense that the Ten Principles can extend beyond the borders of Black Rock City.</p>
            

                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/screen2.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Created by Participants</h4>
                            <p class="text-muted">Short four frame vignettes are submitted by participants on and off playa and wash over a sea of small screens.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/camera.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Interactive not Intrusive</h4>
                            <p class="text-muted">The piece offers ways for participants to interact without being intrusive or violating the Ten Principles.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/screen.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Different from a Distance</h4>
                            <p class="text-muted">Colors and patterns are synrhonized on over five hundred backlit LCD screens to give a different expereince from afar.</p>
                        </div>
                    </div>

                    <h3 class="section-subheading text-center">Physical Description</h3>

                        <p class="section-text">From a distance a participant sees something that looks vaguely like an LED installation, but there’s something strange about it. The lights look larger, square, and they’re flashing aa sort of earthy colored wave pattern.</p>

                        <p class="section-text">Curious, she approaches and sees eight upright structures arranged in a 32’ octagonal footprint. Two sides of each structure house a number of LCD screens arranged in a grid, four across and eight down. The screens are displaying what appear to be sepia toned animated gifs of people, some clearly dusty and on playa, others in various living rooms. There seems to be some sort of steampunk theme happening. One screen is showing a cat wearing a top hat and brass goggles.
                        Off to one side there’s a photo booth. She steps inside and sees a secured tablet running a photo booth app. The app is pink and sparkly and reads “Show us your best sparklepony!” Pressing the button a countdown begins, “3, 2, 1, click, click, click, click”. Unprepared she presses the button again. After a few attempts she gets it just right: four sparkly pink frames featuring a thirsty traveller, an empty flask and some animated pleas. Satisfied she hits submit and the app thanks her and assures she will appear at some point.</p>

                        <p class="section-text">Sometime around sunrise the screens begin to turn pink. Somewhere in Brooklyn another participant is looking at the synchronized virtual installation. After zooming in on a few he decides to contribute his own.</p>

                        <p class="text-center"><img src="/img/totu-render1.png" /></p>

                        <p class="section-text">The Temple of the Unticketed consists of eight freestanding and independent panels broken into two components, the base structural anchor and the electronics housing. The base provides wind stability and backup lighting, while the electronics housing contains all of the screens and supporting electronics. This design ensures that electronics failures do not result in an unsafe situation, that repairs can be done in a shaded and wind‐free environment, and this optimizes storage and transportation requirements. The electronics housing slides into the anchor base, and the two parts are bolted or lashed together.</p>

                        <p class="text-center"><img src="/img/totu-sketch.jpg" /></p>

                        <p class="section-text">The electronics housing is a simple frame made from two‐by‐fours or steel pipe with plywood attached on each side. Each screen is paired with a small circuit board that converts its thin ribbon cable to a more durable RJ‐45 (Ethernet) connector. The screen is mounted on a 3D printed frame, which is screwed into the front of the plywood. A hole in the plywood exposes the RJ‐45 connector to the back. Blocks of sixteen screens are connected to a BeagleBone Black minicomputer. The computers then connect back to a switch and power converter/supply. Each panel will be powered by a deep cycle marine battery housed in the base which will be swapped regularly with batteries that we will recharge back at camp.</p>
                        ￼
                        <p class="section-text">The base structure will be anchored to the playa in such a way that it will provide maximum strength without damaging the playa. Steel piping will be used to make a modular “box” that can be anchored securely, and provide strength to the entire structure to withstand high winds. A plywood facade will cover the piping and provide shade and protection for the battery and circuitry.</p>

                        <p class="section-text">The photo booth will be a simple wooden structure designed only to house a participant and a cheap tablet connected to the photo booth web application. The design will closely resemble a photo booth you might see at a shopping mall.</p>


                </div>
            </div>
            </div>
        </div>
    </section>