<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading">Temple of the Unticketed is a project to connect Burners on playa with Burners who can't be</h3>

                    <p class="section-text">The only thing harder than going to Burning Man is not going, but sometimes life gets in the way.  Camp Envy and BMIR help
                        but leave homesick Burners no way to reach out and say hello.  The Temple of the Unticketed is an art installation on playa populated with images sent from Burners off playa.  Particpants use the interactive web experience to take photos, get creative with filters, 
                        and then share the results.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/screen.jpg" class="img-responsive img-circle" />
                    </div>
                    <h4 class="service-heading">Just Enough Blinky</h4>
                    <p class="text-muted">Over five hundred backlit LCD screens are bright without being as in-your-face as pure LEDs.  You can see it
                        from far away and still get up close and personal.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/screen2.jpg" class="img-responsive img-circle" />
                    </div>
                    <h4 class="service-heading">Something New</h4>
                    <p class="text-muted">Large scale LED displays are commonplace on playa now.  This large scale LCD installation
                        adds a new element to the experience.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="img/camera.jpg" class="img-responsive img-circle" />
                    </div>
                    <h4 class="service-heading">Interactive not Intrusive</h4>
                    <p class="text-muted">TotU is one-way so Burners in Camp Envy can reach out and touch someone without 
                        affecting anyone's privacy.</p>
                </div>
            </div>
        </div>
    </section>