<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About</h2>
                    <h3 class="section-subheading text-center">Guiding Philosophy</h3>
            
                    <p class="section-text">For every participant who makes it out to Black Rock City there are many who do not.  Participants who don’t make it Home can listen to BMIR, watch Ustream, and send postcards to their friends, but don’t have any way to express themselves with any sort of immediacy.  The goal of the Temple of the Unticketed is to connect participants on and off playa in a way that is immediate, playful, and respectful of the Ten Principles.</p>

                    <p class="section-text">The Temple of the Unticketed encourages participants to record four frame vignettes through a virtual photo booth app.  The app can be accessed off playa via the web, and on playa via a kiosk or a WLAN network near the piece.  Playful filters and theme suggestions are included to encourage participant creativity.</p>

                    <p class="section-text">Vignettes will be displayed on the physical piece as well as a virtual one.  The two pieces will stay in sync so participants feel a connection to each other.  The physical piece will have several modes of low bandwidth access to download submitted vignettes.</p>   

                    <p class="section-text">The Temple of the Unticketed features a couple of other subtle aspects.  As new submissions are added, old ones are deleted permanently, a digital equivalent of leave no trace and a reminder of the importance of immediacy.  Vignette images are tinted and started in patterns such that from a distance the temple displays themes of time, space and connectivity.</p>

                    <p class="section-text">Interacting with the Temple of the Unticketed should leave participants feeling connected to a larger community and a sense that the Ten Principles can extend beyond the borders of Black Rock City.</p>
            

                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/screen2.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Created by Participants</h4>
                            <p class="text-muted">Short four frame vignettes are submitted by participants on and off playa and wash over a sea of small screens.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/camera.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Interactive not Intrusive</h4>
                            <p class="text-muted">The piece offers ways for participants to interact without being intrusive or violating the Ten Principles.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="team-member">
                                <img src="img/screen.jpg" class="img-responsive img-circle" />
                            </div>
                            <h4 class="service-heading">Different from a Distance</h4>
                            <p class="text-muted">Colors and patterns are synrhonized on over five hundred backlit LCD screens to give a different expereince from afar.</p>
                        </div>
                    </div>

                    <h3 class="section-subheading text-center">Physical Description</h3>

                    <p class="section-text">The Temple of the Unticketed consists of eight freestanding structures arranged in a 32-foot octagon.  Each upright panel houses 64 three inch TFT LCD screens held in place by specially designed 3D printed frames.  Plywood conceals a sturdy frame, side and back bracing made from two-by-fours.  Space not needed for concealing framing or holding screens is CNC cut out into vent features with shapes depicting themes of communication, time, and distance.

                    <p class="section-text">The piece is designed to be both physically and logically reliable.  Each panel is designed to work standalone and have parts quickly swapped in and out.    An entire panel can be taken out and used for parts without dramatically changing the overall aesthetic.  Multiple options for connectivity are being explored including working with the BRC WiFi volunteers, satellite link, SMS piggybacking, and “sneakernet” from Center Camp.  The function of the piece can adjust to meet the conditions and options available.</p>

                    <p class="section-text">Rebar stakes will reinforce each panel to prevent panels from falling or flying away. Additionally, each panel will have side and back bracing to keep everything secure even in high winds. The panel bracing will be properly weighted and/or staked, and will be made inaccessible and/or properly lit to ensure that there are no potential tripping hazards.</p>

                    <p class="text-center"><img src="/img/totu-sketch.png" /></p>

                </div>
            </div>
            </div>
        </div>
    </section>