<section id="blog" class="bg-light-gray">
	<div class="container">
	<h2 class="section-heading text-center">Blog</h2>
  <h3 class="section-subheading text-center">Latest Post</h3>

    {% for post in site.posts limit:1 %}
    <div class="container">
        <h4>{{ post.title }} <a href="{{ post.url }}"><i class="fa fa-link"></i></a></h4>
        <h5>{{ post.date | date: "%b %-d, %Y" }}</h5>
        <p class="section-text">{{ post.excerpt }}</p>

    </div>
    {% endfor %}

    
    <div class="container">
      <h4><a href="/blog">All blog posts</a></h4>
    </div> 
  </div>
</section>