<style>
	body { font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;}
</style>
<div id="vcon" class="container">
	<div id="inner">
		<div class="row">
	        <div class="col-lg-12">
	            <h2 class="section-heading text-center">Explore</h2>
	            <h3 class="section-subheading text-center">Take a spin around the virtual temple</h3>
	            
	            <p class="section-text">The Temple only exists virtually right now, but you can already 
	            	<a href="/create">participate</a>.  Use the W,A,S,D keys or the arrows to move around.  Click the image to activate pointer lock, and then you can look around with your mouse.
	            	If your browser doesn't support pointer lock (Safari) you can just click and drag to
	            	look around.</p>
	        </div>
	    </div>

		<canvas id="virtual" width="960" height="540"></canvas>
	</div>
</div>
