  <footer>
        <div class="container">
            <h5>Temple of the Unticketed is a Burning Man 2015 project by members of <a href="http://nycr.us">NYC Resistor</a></h5>
            <h5>For more information, <a href="mailto:info@templeoftheunticketed.net">Email Us</a>
            <br/><br>
            <div class="row">
                <div class="col-md-4">
                    <!-- <span class="copyright">Copyright &copy; {{ site.title }} 2014</span> -->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                       <!--  <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>