<section id="status">
	<div class="container">
	<h2 class="section-heading text-center">Status</h2>
	<h3 class="section-subheading text-center">Proof of Concept</h3>
	<p class="section-text">We’ve already completed the first proof-of-concept technical prototype for Temple of the Unticketed, and we’re planning on having a larger-scale proof-of-concept finished before the end of the year. We’re currently working with local Burning Man artists to finalize the artistic design, and we plan on starting construction early next year.</p>

	<p class="section-text">You can find all of the designs, code and other work on our <a href="http://github.com/nycresistor/totu">GitHub Page</a>.</p>

	<h3 class="section-subheading text-center">Budget</h3>
	<p class="section-text">Our expected cost range is $8,000 to $10,000 depending on technical factors associated with driving so many high-density LCD displays.  We are applying for a Black Rock Arts grant to cover $3,000-$5,000 and plan to cover the rest through additional fundraising and out-of-pocket.</p>
	</div>
</section>