<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Unticketed Team</h2>
                    <h3 class="section-subheading text-muted">Defenders of the Unticketed</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="large text-muted">
                        We are longstanding members of the hacker collective <a href="http://nycr.us">NYC Resistor</a>.
                        Previous projects include <a href="http://wiki.hackrockcity.org/DomeStar">DomeStar</a>, <a href="https://www.flickr.com/photos/osr/5699775822/in/faves-52076395@N00/">Light Tapestries</a>, <a href="http://kapamaki.net/dangerarray/">Danger Array</a>, <a href="http://throw.itat.me">Virtual Phone Toss</a> and many others.
                    </p>

                    <p>If you're interested in learning more or contributing to the project please reach out!</p>
                </div>
            </div>
        </div>
    </section>